/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Reset styles */
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  padding: 12px 28px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  border-radius: 100px;
}

.pri-btn {
  background-color: #FD9222;
  border: none;
}

.sec-btn {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FAFAFA;
}

.header .container {
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111111;
}
.logo span {
  font-style: italic;
  white-space: pre;
}
.logo::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background-image: url("../img/sprite.svg#logo");
  background-repeat: no-repeat;
  background-size: 20px;
}

.menu-btn {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.menu-btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 0;
  background-image: url("../img/sprite.svg#menu");
  background-repeat: no-repeat;
  background-size: 24px;
}

.menu {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 220px;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: calc(60px + 70 * (100vh - 320px) / 120);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1E1823;
  transition: transform 250ms;
}
@media screen and (max-height: 320px) {
  .menu {
    padding-top: 60px;
  }
}
@media screen and (min-height: 440px) {
  .menu {
    padding-top: 130px;
  }
}
.menu.is-open {
  transform: translateX(0);
}

.nav .item {
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: calc(12px + 12 * (100vh - 320px) / 120);
}
@media screen and (max-height: 320px) {
  .nav .item {
    margin-bottom: 12px;
  }
}
@media screen and (min-height: 440px) {
  .nav .item {
    margin-bottom: 24px;
  }
}
.nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  padding: 6px;
  stroke: #FFFFFF;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.close-btn .icon {
  width: 14px;
  height: 14px;
}
.close-btn:hover {
  border-color: #FD9222;
  stroke: #FD9222;
}
.close-btn:hover .icon {
  transform: scale(1.5);
}

.social {
  display: flex;
  gap: 18px;
}
.social .link {
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 2px;
  fill: #FFFFFF;
}
.social .icon {
  width: 20px;
  height: 20px;
}

.hero .container {
  padding-top: 0;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}
.hero .hero-bg {
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: dimgrey;
  border-radius: 30px;
  border: none;
}
.hero .title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.hero .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.nav-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.nav-btn::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 12px;
  background-image: url("../img/sprite.svg#down");
  background-repeat: no-repeat;
  background-size: 28px;
  border-radius: 50%;
  background-color: darkslategray;
}
.nav-btn:hover::after {
  background-color: red;
  -webkit-mask-image: url("../img/sprite.svg");
  mask-image: url("../img/sprite.svg");
}

.footer .container {
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}/*# sourceMappingURL=main.css.map */