<header class="header">
  <div class="container">
    <a href="./index.html" class="logo"><span>SIMPLY </span> CHOCOLATE</a>
    <button type="button" class="menu-btn"></button>
    <div class="menu">
      <button type="button" class="close-btn"><svg class="icon"><use href="./img/sprite.svg#close"></use></svg></button>
      <nav class="nav">
        <ul class="list">
          <li class="item">
            <a href="" class="link">Home</a>
          </li>
          <li class="item">
            <a href="" class="link">How it’s made?</a>
          </li>
          <li class="item">
            <a href="" class="link">Our products</a>
          </li>
          <li class="item">
            <a href="" class="link">Top sellers</a>
          </li>
          <li class="item">
            <a href="" class="link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <ul class="social">
        <li class="item">
          <a href="" class="link"><svg class="icon"><use href="./img/sprite.svg#insta"></use></svg></a>
        </li>
        <li class="item">
          <a href="" class="link"><svg class="icon"><use href="./img/sprite.svg#twitt"></use></svg></a>
        </li>
      </ul>
    </div>
  </div>
</header>